extends layout

block content
	.container
		h1 Configuration
		br
		.row-fluid
			form#configuration.well.clearfix
				label Path to resources (absolute path or relative from CRAFTJS_BASE). The files in this directory will be browsable under '<a href="/#{config.context.src}/">Repository</a>'.
				label.input-label.label.label-warning
					if useGit
						input#use-git(type="checkbox", checked="checked")
					else
						input#use-git(type="checkbox")
					span &nbsp;use GIT&nbsp;
				if repositoryPath
					input#resource-path.span(type="text", placeholder="/path/to/your/resources", value="#{repositoryPath}")
				else
					input#resource-path.span(type="text", placeholder="/path/to/your/resources", value="#{repositoryPath}")
				button.left.btn(data-action="send-configuration") Save
				code.left.feedback(style="display: none;")
		
		#git
			#git-alert
			.well
				.row-fluid
					ul.toolbar.span12
						li
							.btn.btn-mini.btn-primary(data-action="add-repo", style="margin-top: -2px;") add GIT repository
							label(style="display: inline-block; margin-left: 12px; ") 
								|Use remote 
								code(style="color: #F89406;") https://github.com/janl/mustache.js.git
								|&nbsp;or local 
								code(style="color: #F89406;") file:////home/user/code
								|&nbsp;urls
				.row-fluid
					ul#git-hooks.span12
						each url, name in gitHooks
							li.row-fluid(data-name="#{name}")
								span.span2
									span.label.label-warning(onclick="document.location='/#{config.context.src}/#{name}'") repo:/#{name}
								a.btn.btn-primary.btn-mini(data-action="git-pull") pull
								span.url #{url}
								button.close(data-action="remove-git-repo") &times;

		#cdn
			#cdn-alert
			.well
				.row-fluid
					ul.toolbar.span12
						li
							.btn.btn-mini.btn-primary(data-action="open-cdn-dialog", style="margin-top: -2px;") add CDN library
							label(style="display: inline-block; margin-left: 12px; ") 
								|Use http GET requests like
								code(style="color: darkgreen;") https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js
				.row-fluid
					ul#cdn-libs.span12
						each url, name in cdnLibs
							li.row-fluid(data-name="#{name}")
								span.span2
									a(href="/#{config.context.src}/cdn/#{name}")
										span.label.label-success #{name}
								span.url 
									a(target="_blank", href="#{url}") #{url}
								button.close(data-action="remove-cdn-lib") &times;

	#repo-dialog.modal.hide
		.modal-header
			h3 Add GIT repository
			label(style="display: inline-block;") 
				|Use remote 
				code(style="color: #990000;") https://github.com/janl/mustache.js.git
				|&nbsp;or local 
				code(style="color: #990000;") file:////home/user/code
				|&nbsp;urls
		.modal-body
			label.label.label-important.error(style="display: none;") 
			.label Folder name
			input#repo-name(type="text", placeholder="folder name in craft.js")
			.label GIT Repsitory URL
			input#repo-url(type="text", placeholder="GIT repository url to clone from")
		.modal-footer
			a.btn(data-dismiss="modal") Close
			a.btn.btn-primary Add repository
			
	
	#cdn-dialog.modal.hide
		.modal-header
			h3 Add CDN resource
			label(style="display: inline-block;") 
				|Currently only http is supported&nbsp;
				code(style="color: #990000;") http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js
		.modal-body
			label.label.label-important.error(style="display: none;") 
			.label Resource name
			input#lib-name(type="text", placeholder="file name in craft.js")
			.label Resource URL
			input#lib-url(type="text", placeholder="url to download from")
		.modal-footer
			a.btn(data-dismiss="modal") Close
			a.btn.btn-primary Add resource
			
	script#alert-template(type="template/mustache")
		div(class="alert alert-{{type}}")
			button.close(type="button", data-dismiss="alert") ×
			strong {{label}}&nbsp;
			{{&message}}
			
	script#git-pull-template(type="template/mustache")
		div(class="alert alert-pre alert-{{type}}")
			button.close(type="button", data-dismiss="alert") ×
			strong {{label}}&nbsp;
			pre {{message}}

	script#cdn-item-template(type="template/mustache")
		li.row-fluid(data-name="{{name}}")
			span.span2
				a(href="/repo/cdn/{{name}}")
					span.label.label-success {{name}}
			span.url
				a(href="{{url}}", target="_blank") {{url}}
			button.close(data-action="remove-cdn-lib") ×

	script
		modules.push(function () {
			var configurationModel = new model.Model({
				data: {
					name: "Marc Bächinger"
				}
			});
			new craftjs.GitConfigController(configurationModel, "git").init();
			new craftjs.CdnConfigController(configurationModel, "cdn").init();
		});