extends layout

block content
	#project-tools.clearfix
		label.lint-button.collapse lint opts
		#lint-options
		label.project-button.collapse current project: 
			span.project-name(data-action="edit-project-name") default
		#project-files
		if typeof sourceCode!=="undefined" && displayMode == "build"
			label.bag-button(data-action="toggle-bag")
	if typeof sourceCode!=="undefined"
		include source/toolbar

	if typeof sourceTree!=="undefined"	
		h2.collapse.directory Content of directory #{path}
			div(style="float: right;")
				if typeof breadcrumb!=="undefined" 
					a(href="/build/") 
					each path, name in breadcrumb
						a(href="/build/#{path}") #{name}/
					#{path.substring(path.lastIndexOf("/") + 1)}
		include source/directory-listing

	if typeof dependencies !== "undefined"
		h2.collapse Dependencies of #{path}
		ul.dependencies
			each dep in dependencies
				li: a(href="/build#{dep}") #{dep}
					
	if typeof report !== "undefined"
		h2.collapse JSHint report
		div.clearfix
			.options-panel
				include lint/lint-options
			.status-panel
				include lint/lint-report

			
	if typeof lines !== "undefined"
		h2.collapse Annotated source code of #{path}
			.size #{sourceCode.length} characters / #{lines.length} lines
		include source/source-listing