!!!5
html
	head
		title craft.js - follow marcbaechinger on twitter
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		header: a(href="/") craft.js
		block content
			
		.ribbon &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fork me at <a href="https://github.com/marcbaechinger/craft.js">github</a>
		
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/repo/src/applications/craftjs/bootstrap.js?plain=true&expand=true&mangle=true&squeeze=true&minimize=true")
		script(type="template/mustache", id="project-file")
			li
				[
				a(href="#", data-action="remove-from-project", data-path="{{path}}")-
				]
				a(href="/#{src}/{{path}}")
					{{path}}
				br
		script(type="template/mustache", id="lint-options-tmpl")
			.lint-flags {{title}}
				label.maxerr(data-action="edit-maxerr") maxerr: 
					span {{maxerr}}
				label.indent(data-action="edit-indent") indent: 
					span {{indent}}
			.value-list
				{{#options}}
				label.boolean-editor(data-name="{{key}}", title="{{desc}}", class="{{on}}") {{key}}
				{{/options}} 
		script(type="template/mustache", id="marker-list")
			li 
				span.marker {{marker}}
		if typeof path !== "undefined"
			script
				var data = {
					path: "#{path}",
					displayMode: "#{displayMode}",
					src: "#{src}",
					dist: "#{dist}",
					context: "#{context}"
				};