!!!5
html
	head
		title craft.js - follow marcbaechinger on twitter
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		header: a(href="/")
		#project-tools.clearfix
			label.lint-button.collapse lint opts
			#lint-options
			label.project-button.collapse current job: 
				span.project-name(data-action="edit-project-name") default
			#project-files
			nav(class="#{displayMode}")
				label.nav-button(data-action="nav", data-path="/repo/") repo
				label.nav-button(data-action="nav", data-path="/jobs/") jobs
				label.nav-button(data-action="nav", data-path="/dist/") releases
			if typeof fileDescriptor!=="undefined" && fileDescriptor.isFile() && context === config.context.src
				label.bag-button(data-action="toggle-file-to-job")
		
		block content
			
		.ribbon &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fork me at <a href="https://github.com/marcbaechinger/craft.js">github</a>
		
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/javascript/craftjs.js")
		script(type="template/mustache", id="project-file")
			li
				[
				a(href="#", data-action="remove-from-project", data-path="{{path}}")-
				]
				a(href="/repo/{{path}}")
					{{path}}
				br
		script(type="template/mustache", id="lint-options-tmpl")
			.lint-flags {{title}}
				label.maxerr(data-action="edit-maxerr") maxerr: 
					span {{maxerr}}
				label.indent(data-action="edit-indent") indent: 
					span {{indent}}
			.value-list
				{{#options}}
				label.boolean-editor(data-name="{{key}}", title="{{desc}}", class="{{on}}") {{key}}
				{{/options}} 
		script(type="template/mustache", id="marker-list")
			li 
				span.marker {{marker}}
		if typeof path !== "undefined"
			script
				craftjs.data = {
						path: "#{path}",
						displayMode: "#{displayMode}",
						src: "#{config.context.src}",
						dist: "#{config.context.dist}",
						jobs: "#{config.context.jobs}",
						context: "#{context}"
					};
