nav(class="#{displayMode} #{context}")
	a(href="/#{config.context.src}/") 
		label.nav-button.src repo
	a(href="/#{config.context.jobs}/")
		label.nav-button.jobs jobs
	a(href="/#{config.context.dist}/")
		label.nav-button.dist releases