extends layout

block content
	if context === config.context.src
		ul.breadcrumb.navbar-fixed-top(style="margin-top: -34px;", class="")
			li
				a(href="/#{context}/", style="text-decoration: none;") #{context}:
				span.divider /
			each path, name in breadcrumb
				li
					a(href="/#{context}/#{path}") #{name}
					span.divider /
			li
				span #{fileName}
	if displayMode === "js"
		include source/toolbar
	if typeof dependencies !== "undefined"
		ul#deps-panel.dependencies
			each dep in dependencies
				li
					span.testcase(data-path="/#{config.context.src}#{dep}", data-action="create-test") create test
					&nbsp;
					a(href="/#{config.context.src}#{dep}") #{dep}
	if displayMode === "js" && typeof dependencies !== "undefined"
		#dependencies.collapser(data-dependent="#deps-panel", data-slide="true") Referenced dependencies
		
	if typeof report !== "undefined"
		#js-lint-report
			div.clearfix
				.options-panel(style="display: none")
					include lint/lint-options
				.status-panel
					include lint/lint-report

	if typeof lines !== "undefined"
		include source/source-listing