if fileName.match(/.(html)$/)
	h2.top.collapse File at #{path}
		a.size(href="/#{context}/#{path}") raw
		.size #{sourceCode.length} characters / #{lines.length} lines&nbsp;&nbsp;&nbsp;
else if displayMode.match(/templated$/)
	h2.top.collapse Templated file in #{path}
		a.size(href="/#{context}/#{path}") run
else if displayMode.match(/css$/)
	h2.top.collapse CSS file in #{path}
		a.size(href="/#{context}/#{path}") text/css
else if context === config.context.src
	h2.top.collapse Annotated source code of #{path}
		.size #{sourceCode.length} characters / #{lines.length} lines
else if context === config.context.dist
	h2.top.collapse Released file: #{path}
		.size #{sourceCode.length} characters / #{lines.length} lines
else if context === config.context.jobs
	h2.top.collapse Build definition of #{path}

.source-panel
	if displayMode === "js"
		#search-bar
			span#result-info grep source code =>
			input#search-script(placeholder="enter regExp to grep: ^\\svar")
		.marker-button(data-action="toggle-source-markers") FIXME/TODO
		ul#markers
	#source.source
		each line, i in lines 
			if typeof report === "undefined" || typeof report.errors==='undefined' || typeof report.errorLines[i+1] === 'undefined'
				pre.line(id="line-#{i+1}") #{i+1}:\t#{line}
			else
				pre.error(id="line-#{i+1}") #{i+1}:\t#{line}
					.reason #{report.errorLines[i+1]}
