div.directory-item(id="build-toolbar")
	button.transform(data-path="#{path}", data-action="build") transform
	
	div(style="float: right; margin-left: 42px;")
		if displayMode === "src"
			a(href="/#{context}/", style="text-decoration: none;", title="jump to the root of the source repository") repo:/
		else
			a(href="/#{context}/", style="text-decoration: none;", title="jump to the root of the distribution directory") dist:/
		if typeof breadcrumb!=="undefined"
			each path, name in breadcrumb
				a(href="/#{context}/#{path}") #{name}/
			
	label(for="plain", title="serve resulting file as text/javascript", style="float: right") plaintext
		input(id="plain", name="plain", type="checkbox", style="float: left;")
	
	if displayMode === "src"
		label(for="release", title="create a persistent release for the current file", style="float: right") release
			input(id="release", name="release", type="checkbox", style="float: left;")
	
	if displayMode === "src"
		label(for="expand", title="resolves and expands dependencies declared in the script file")  expand
			if typeof expanded !== "undefined" && expanded
				input(id="expand", name="expand", type="checkbox", checked="checked")
			else 
				input(id="expand", name="expand", type="checkbox")
	
	label(for="mangle", title="obfuscate variable names to save characters")  mangle
		if mangled
			input(id="mangle", name="mangle", type="checkbox", checked="checked")
		else 
			input(id="mangle", name="mangle", type="checkbox")

	label(for="squeeze", title="additional squeezing option (see uglify-js docs)")  squeeze
		if squeezed
			input(id="squeeze", name="squeeze", type="checkbox", checked="checked")
		else
			input(id="squeeze", name="squeeze", type="checkbox")
		
	label(for="minimize", title="render AST in mimimized form")  minimize
		if minimized
			input(id="minimize", name="minimize", type="checkbox", checked="checked")
		else
			input(id="minimize", name="minimize", type="checkbox")

	label(for="beautify", title="render AST in pretty-printed form")  beautify
		if beautified
			input(id="beautify", name="beautify", type="checkbox", checked="checked")
		else
			input(id="beautify", name="beautify", type="checkbox")

	label(for="lint", title="apply JSHint validation") lint
		if linted
			input(id="lint", name="lint", type="checkbox", checked="checked")
		else 
			input(id="lint", name="lint", type="checkbox")
